{% extends "main.html" %}

{% block main %}

<section class="main">
  <h1>Locação Veículos</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{category}}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Cuidado!</strong> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="{{ url_for('locacao') }}" method="post">
    {{ form.csrf_token }}
    <p>CLIENTE:</p>
    {{ form.cliente }}
    <p>CIDADE DE ORIGEM:</p>
    {{ form.cidade }}
    <p></p>
    {{ form.submit }}
  </form>

  <p></p>

  {% if veiculos %}
  <form action="{{url_for('locacao_save')}}" method="post" class="main">
    {% if cliente_id %}
      <input style="display: none;" name='cliente' type="text" value='{{cliente_id}}'>
    {% endif %}
    {% if cidade_id %}
      <input style="display: none;" name='cidade' type="texy" value='{{cidade_id}}'>
    {% endif %}
    <table>
      <tr>
        <th>
          Modelo
        </th>
        <th>
          Cor
        </th>
        <th>
          Ano
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
      {% for veiculo in veiculos %}
      <tr>
        <td>
          {{veiculo["modelo"]}}
        </td>
        <td>
          {{veiculo["cor"]}}
        </td>
        <td>
          {{veiculo["ano"]}}
        </td>
        <td style="max-width: 50px;">
          <input required type="radio" id='{{veiculo["modelo"]}}-{{veiculo["cor"]}}-{{veiculo["ano"]}}' name="veiculo" value='{{veiculo["id"]}}'>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p></p>
    <label>Diárias</label>
    <input required style="max-width: 50px;" name='diaria' type="number">
    <p></p>
    <input style="max-width: 50px;" type="submit" value="Realizar Locação">
  </form>
  {% endif %}

</section>

{% endblock %}