{% extends "main.html" %}

{% block main %}

<section class="main">
  <h1>Consultar Locações</h1>

  <form action="{{ url_for('locacoes') }}" method="post">
    {{ form.csrf_token }}
    <p>CLIENTE:</p>
    {{ form.cliente }}
    <p>MODELO:</p>
    {{ form.modelo }}
    <p></p>
    {{ form.submit }}
  </form>

  <p></p>

  <table>
    <tr>
      <th>
        Cliente
      </th>
      <th>
        Modelo
      </th>
      <th>
        Cidade de Origem
      </th>
      <th>
        Cidade de Destino
      </th>
      <th>
        KM Rodados
      </th>
      <th>
        Quantidade de Dias
      </th>
      <th>
        Valor Total
      </th>
    </tr>
    {% if locacoes %}
      {% if locacoes[0].cliente %}
        {% for locacao in locacoes %}
          <tr>
            <td>
              {{locacao.cliente.nome}}
            </td>
            <td>
              {{locacao.veiculo.modelo}}
            </td>
            <td>
              {{locacao.cidade_origem.nome}}
            </td>
            <td>
              {% if locacao.cidade_destino %}
                {{locacao.cidade_destino.nome}}
              {% else %}
                Dado não mapeado
              {% endif %}
            </td>
            <td>
              {% if locacao.km_rodado %}
                {{locacao.km_rodado}}
              {% else %}
                Dado não mapeado
              {% endif %}
            </td>
            <td>
              {{locacao.qt_dias_reservados}}
            </td>
            <td>
              {% if locacao.km_rodado %}
                {{locacao.km_rodado * locacao.veiculo.valor_km_rodado + locacao.qt_dias_reservados * locacao.veiculo.valor_km_rodado}}
              {% else %}
                Locação não finalizada
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="7" class="center">
            {{locacoes[0]}}
          </td>
        </tr>
      {% endif %}
    {% else %}
      <tr>
        <td colspan="9" class="center">
          Preencha algum campo de consulta para pesquisar!
        </td>
      </tr> 
    {% endif %}
  </table>

  {% if mkdjson %}
    <form action="{{ url_for('locacoes_md_download')}}" method = "post">
      <input style="display: none;" type = "text" name='locacoes' value ='{{mkdjson}}' />
      <p></p>
      <input type = "submit" value = "Download" />
    </form>
  {% endif %}
</section>
{% endblock %}